  *{margin: 0px;
        padding: 0px;}
        body {
        margin:0px;
        background: papayawhip;
        } 
        .wrapper{
            min-height:100%;
        margin: opx;
        padding: opx;
    } 
        
        .header{
            width: 100%;
            min-height: 100 px;
            background-color: #ff9900;
            text-align: center;
            margin: 0px;
            }  
        .content {
            width: 680px;
            margin: 0px auto;
            min-height: 680px;
        }
        .footer{
            width: 100%;
            min-height: 150 px;
            background-color: #ff9900;
            text-align: center;
            position:fixed;
            bottom:0px;
        }
        a{text-decoration: none;
        color: black;}

.card-container {
  cursor: pointer;
  height: 200px;
  perspective: 600;
  position: relative;
  width: 200px;
  float: left
 
}
.card {
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: all .5s ease-in-out;
  width: 100%;
  background-color:#eaeaed;
  margin: 3px;
  box-shadow: 1px 1px 2px black ;
}
.card:hover {
  transform: rotateY(180deg);
  background-color: #ff9900;
}
.card .side {
  backface-visibility: hidden;
  text-align: center;
  border-radius: 6px;
  height: 100%;
  position: absolute;
  overflow: hidden;
  width: 100%;
}
.card .back {
  background:#ff9900;
  color:white;
  line-height: 10px;
  text-align: center;
  transform: rotateY(180deg);
}
 